{% extends "new_home.html" %}

{% block title %}
{{ block.super }} 
Edit Profile
{% endblock title %}

{% block style_stuff %}

<style type="text/css">
    #details
  {
top:140px;
  position:relative;
   width:450px;
  left:9%;
  cellspacing:
  }

</style>
{% endblock style_stuff %}

{% block body %}


    <div id="details">
      <form method="POST" id="form" action="{% url home.views.reset_password %}">
	{% csrf_token %}
	   {{ form.as_table }} 

	<input type="submit" value="Finish Editing" name="update"  >
	</form>
      </div>
    </div>	
  </div>

  {% endblock %}
