<h3>Press Back to go Back to previous page</h3>
<br>

<h3>QMS DESK</h3>

<h4>Details to be filled at first registration:</h4>

Username: 	Username in registration could be Barcode or Roll Number of IITM student
<br>
First Name: 	This must be ONLY First Name
<br>
Mobile: 	Only 10 digits will be accepted
<br>
College: 	Use autocomplete to best fit the college. 'Others' and 'School' are also available
<br>
Gender: 	M/F
<br>

<h4>Details to be filled later:</h4>
Email: 		This field must be unique
<br>
Branch: 	Select from the drop down list
<br>
Degree: 	Select from the drop down list
<br>
Year: 		Select accordingly. 6 and 7 are for exclusive cases which may be profs
<br>
<br>

<h3>EVENT REGISTRATION DESK</h3>

Step 1:		Enter Event Name
<br>
Step 2:		Edit Event Details. Fill in the fields at the start of event registration based on given requirements
<br>
Step 3:		Change Event shifts to selected event and allows you to enter barcode/roll numbers
<br>
Step 4:		Export List allows you to view all registered participants and pass it on in printed format to event co-ords
<br>
<br>

<h3>PPM DESK</h3>

Step 1:		Enter Event Name
<br>
Step 2:		Choose position the team has placed
<br>
Step 3:		Enter/Scan barcodes and roll numbers
<br>
Step 4:		Click on 'Show Details' and verify identity of winner by comparing college ID card
<br>
Step 5: 	Update the details. This can be done ONLY ONCE. So please enter with care
<br>
Step 6:		Export List allows you to view all places for that event
<br>
