<div id="logout">
<a style="
position:relative;
top:22px;
left:1170px;
text-decoration:none;
font-size:22px;
padding:5px;
background-color: #777777;
color:white;
" href="{{SITE_URL}}/participant/logout" style="left:400px">Logout</a>
</div>
<div id="logout">
<a style="
position:relative;
top:-10px;
left:1350px;
text-decoration:none;
font-size:22px;
padding:5px;
padding-left:30px;
padding-right:30px;
background-color: black;
color:white;
" href="{{SITE_URL}}/participant/help" style="left:400px">help?</a>
</div>

{% block body %}
{% endblock %}

