{% extends "home.html" %}

{% block title %}
{{ block.super }} 
{% endblock title %}

{% block body %}
<br />
<h1>
User Registration

</h1>
<p>
  Please fill in the following details: 
</p>
<form action="{{SITE_URL}}/users/register/{{dept_name}}/" method="POST">{% csrf_token %}
  <div class="register">
   <table name="register" >
	      {% for field in  user_form  %}
	      <tr>

		<th>{{ field.label_tag }}</th>
		<td>{{ field }}
		  <div id="{{ field.label }}_div">
		    {% if field.errors %}{% for error in field.errors %} {{ error|escape }} </br> {% endfor %}{% endif %}
		  </div>
		</td>
		<td><a onmouseover="Tip('{{ field.help_text }}')" onmouseout="UnTip()"><img height=20 width=20 src="{{ MEDIA_URL }}img/help_icon.png"></a></td>
		{% endfor %}
	    </table>
    <hr />

	    <script type="text/javascript">
	     

	      function validatePassword(fld,fld2) {   

	      var error = "";
	      
	      if (fld.value != fld2.value) {error = "The entered passwords do not match.";}
	      else if (fld.value.length < 6) {error = "Ensure this value has at least 6 characters.";} 
					  else if (fld.value =="") {error = "This field is required.";} 
					  if (error!="") {
					  document.getElementById('Password_div').innerHTML= error;
					  document.getElementById('Password again_div').innerHTML= error;
					
					  return 1;
					  } 
					  
					  document.getElementById('Password_div').innerHTML="";
					  document.getElementById('Password again_div').innerHTML="";
					  return 0;
					  }

	  function validateEmail(fld) {   
					  var error = "";
					  if (fld.value == "") error = "This field is required.";
					  else if(!((fld.value.lastIndexOf(".") > 2) && (fld.value.indexOf("@") > 0))) error = "Enter a valid e-mail address.";
		if (error!="") {
		document.getElementById('Email_div').innerHTML= error;
		return 1;
		} 
		document.getElementById('Email_div').innerHTML="";
		return 0;
		}					
		

	function validateUsername(fld) {   //done
		var error = "";
		if (fld.value == "") error = "This field is required.";
		else if (!isAlphaNumeric(fld.value) || isAlpha(fld.value)) error = "Enter a valid roll number."
		if (error!="") {
		document.getElementById('Username_div').innerHTML= error;
		return 1;
		}
		document.getElementById('Username_div').innerHTML="";
		return 0;
		}




		function onblurAttribute() {
		document.getElementById ("id_password_again").setAttribute('onblur' , 'validatePassword(document.getElementById ("id_password"), document.getElementById ("id_password_again"))');
		document.getElementById ("id_email").setAttribute('onblur' , 'validateEmail(document.getElementById ("id_email"))');
		document.getElementById ("id_username").setAttribute('onblur' , 'validateUsername(document.getElementById ("id_username"))');
		
		}
		onblurAttribute();

	    </script>

    <input type="submit" value="Register" >
  </div>
</form>

note:for testing phase if you have not got invite your dept by default is Events
{% endblock %}
